<!DOCTYPE html>
<html>

<head>
    <title>Airways</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Public+Sans:400,500,700,900&display=swap" rel="stylesheet">

    <!-- Script Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!-- Icon Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <div class="home">
        <section class="header">
            <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
                <a class="navbar-brand" href="/">
                    <img src="static/images/airways_logo.png"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-stretch" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">
                                <i class="fa fa-home" aria-hidden="true"></i>
                                Home</a></li>
                        <li class="nav-item">
                            <a class="nav-link" href="/booking-page">
                                <i class="fa fa-plane" aria-hidden="true"></i>
                                Flights</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="accountDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-id-card" aria-hidden="true"></i>
                                My Airways</a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountDropdownMenuLink" style="float: left">
                                <a class="dropdown-item" href="/account">
                                    <i class="fa fa-user" aria-hidden="true"></i>Account</a>
                                <a class="dropdown-item" href="/basket">
                                    <i class="fa fa-shopping-basket" aria-hidden="true"></i>Basket</a>
                                <a class="dropdown-item" href="/logout">
                                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                                    Sign out</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </section>
    </div>

    <!--- Start Basic Infos Section ----------------->
    <section class="account-basic" style="min-height: 100vh">
        <div class="container" id="userBasicInfos">
            <div class="user-welcome col-md-12">
                <div class="card">
                    <div class="card-body">
                        <a class="card-subtitle mb-2 text-muted">Welcome</a>
                        <h1 class="card-title">{{name}}</h1>
                        <p class="card-text" id="totalPoint">{{puan[0][0]}} Total Point</p>
                        <p id="userID">{{id}}</p>
                    </div>
                </div>
            </div>
        </div>
        <!--- Start Flight Infos Section ----------------->
        <section class="flights">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card card-margin">
                            <div class="card-body" id="lastFlights">
                                <h1 class="card-title" style="text-transform: uppercase; font-weight: 700">Last Flights</h1>
                                <!---Flight--->
                                {% for i in range(pasifl) %}
                                <div class="flight-info">
                                    <div class="card-body">
                                        <h5 class="card-title" id="flightID">Airways Flight {{pasif[i][0][0]}}</h5>
                                        <p class="card-subtitle mb-1 text-muted">{{pasif[i][0][1]}}</p>
                                        <div class="flight-destinations">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <a class="card-text">
                                                        <p id="destinationFrom">{{pasif[i][0][2]}}</p>
                                                        <i class="fa fa-arrow-right" aria-hidden="true" style="margin: 0 5px"></i>
                                                        <p id="destinationWhere">{{pasif[i][0][3]}}</p>
                                                    </a>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-3 col-sm-12">
                                                            <a class="card-subtitle" id="dateID">Date</a>
                                                            <p class="card-info-text">{{pasif[i][0][6]}}</p>
                                                        </div>
                                                        <div class="col-md-3 col-sm-12">
                                                            <a class="card-subtitle" id="departTime">Depart</a>
                                                            <p class="card-info-text">{{pasif[i][0][4]}}</p>
                                                        </div>
                                                        <div class="col-md-3 col-sm-12">
                                                            <a class="card-subtitle" id="gateID">ELT</a>
                                                            <p class="card-info-text">{{pasif[i][0][5]}}</p>
                                                        </div>
                                                        <div class="col-md-3 col-sm-12">
                                                            <a class="card-subtitle" id="gateID">Seat</a>
                                                            <p class="card-info-text">{{pasif[i][0][7]}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                <!---Flight--->

                                <!---Flight--->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card card-margin" id="activeFlight">
                            <div class="card-body">
                                <h1 class="card-title" style="text-transform: uppercase; font-weight: 700">Active Flight</h1>
                                <!---Flight--->
                                {% for i in range(aktifl) %}
                                <div class="flight-info">
                                    <div class="card-body">
                                        <h5 class="card-title" id="flightID">Airways Flight {{aktif[i][0][0]}}</h5>
                                        <p class="card-subtitle mb-1 text-muted">{{aktif[i][0][1]}}</p>
                                        <div class="flight-destinations">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <a class="card-text">
                                                        <p id="destinationFrom">{{aktif[i][0][2]}}</p>
                                                        <i class="fa fa-arrow-right" aria-hidden="true" style="margin: 0 5px"></i>
                                                        <p id="destinationWhere">{{aktif[i][0][3]}}</p>
                                                    </a>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-3 col-sm-12">
                                                            <a class="card-subtitle" id="dateID">Date</a>
                                                            <p class="card-info-text">{{aktif[i][0][6]}}</p>
                                                        </div>
                                                        <div class="col-md-3 col-sm-12">
                                                            <a class="card-subtitle" id="departTime">Depart</a>
                                                            <p class="card-info-text">{{aktif[i][0][4]}}</p>
                                                        </div>
                                                        <div class="col-md-3 col-sm-12">
                                                            <a class="card-subtitle" id="gateID">ELT</a>
                                                            <p class="card-info-text">{{aktif[i][0][5]}}</p>
                                                        </div>
                                                        <div class="col-md-3 col-sm-12">
                                                            <a class="card-subtitle" id="gateID">Seat</a>
                                                            <p class="card-info-text">{{aktif[i][0][7]}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                               {% endfor %}
                                <!---Flight--->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--- End Flight Infos Section ----------------->
    </section>
    <!--- End Basic Infos Section ----------------->



    <!--- Start Footer Section ----------------->
    <footer id="lightFooter" class="text-center">
        <a href="#" style="padding: 1rem"><i class="fa fa-angle-up" style="transform: scale(2); color: #a5a5a5;"></i></a><br>
        <p>Back to top</p>

        <a href="https://www.facebook.com/hasan.ozen.790" target="_blank" style="padding: 1rem"><i class="fa fa-facebook-square" style="transform: scale(2); color: #a5a5a5"></i></a>
        <a href="https://www.instagram.com/hsnnoznn/" target="_blank" style="padding: 1rem"><i class="fa fa-instagram" style="transform: scale(2); color: #a5a5a5"></i></a>
        <a href="https://www.linkedin.com/in/hasan-özen-337274153" target="_blank" style="padding: 1rem"><i class="fa fa-twitter-square" style="transform: scale(2); color: #a5a5a5"></i></a>
        <a href="https://www.behance.net/hasanozen131fe" target="_blank" style="padding: 1rem"><i class="fa fa-youtube-play" style="transform: scale(2); color: #a5a5a5"></i></a>


        <p style="font-size: 12px;">All rights reserved &copy; 2019 | Made with <span class="fa fa-heart"></span> by Hasan Ozen</p>
    </footer>
    <!--- End Footer Section ----------------->
</body></html>
